body {
  text-align: center;
  background-color: #011F3F;
}

p{
  color: aliceblue;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  line-height: 4rem;
}

.container {
  display: block;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.startBtn{
  outline: none;
  border: none;
  width: 90px;
  height: 26px;
  border-radius: 4px;
  color: black;
  background-color: greenyellow;
  font-size: 15px;
}

.startBtn:hover{
  color: greenyellow;
  background-color: black;
  font-size: 17px;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media(max-width: 40rem){
  .btn {
    margin: 10px;
    display: inline-block;
    height: 110px;
    width: 110px;
    border: 10px solid black;
    border-radius: 20%;
  }
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #FEF2BF;
  }
  .container {
    margin: 25% auto;
  }
}